h1 {
  color: white;
  text-align: center;
}

h2 {
  color: #a7c7e7;
  background-color: white;
}

h3 {
  color: #a7c7e7;
  background-color: white;
}

#p1 {
  font-family: Bodoni;
  column-count: 3;
}

#p2 {
  font-family: Bodoni;
  font-size: 16px;
}

#p3 {
  font-family: Bodoni;
  font-size: 16px;
}

body {
  background-color: #a7c7e7;
}

img {
  width: 10vw;
}
